[Service]
ExecStart=/usr/bin/node {{ app_path }}/{{ main }}
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory={{ app_path }}
SyslogIdentifier={{ app_name }}
User={{ app_user }}
Group={{ app_group }}
{% for env in app_env %}
Environment={{ env }}
{% endfor %}

[Install]
WantedBy=multi-user.target